<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="DefaultConnection" connectionString="Data Source=ANGULAR-PC\SQLEXPRESS;Initial Catalog=Contact; User Id=sa; Password=Bhuban" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>