
@{
    ViewBag.Title = "Changepassword";
}

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Change Password</h1>
  </div>
  <div class="col-lg-12">
    <form class="form-horizontal" method="post" action="/user/changepassword">
      <div class="col-lg-offset-3 col-lg-9 form-group error-message">
        @TempData["ErrorMessage"]
      </div>
      <div class="col-lg-12 form-group">
        <label for="Name" class="control-label col-lg-3">Password</label>
        <div class="col-lg-9">
          @Html.TextBox("password", null, new { @id = "Name", @class = "form-control", @placeholder = "Enter Password", @type="password" })
        </div>
      </div>
      <div class="col-lg-12 form-group">
        <label for="Name" class="control-label col-lg-3">Confirmation Password</label>
        <div class="col-lg-9">
          @Html.TextBox("password1", null, new { @id = "Name", @class = "form-control", @placeholder = "Enter Confirmation Password", @type="password" })
        </div>
      </div>
      <div class="col-lg-12 form-group">
        <div class="col-lg-offset-3 col-lg-3">
          <input type="submit" class="btn btn-primary" value="Change Password" />
        </div>
      </div>

    </form>
  </div>

  
</div>
